.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 200px;
}

.nav-items {
  padding: 10px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-container li {
  list-style: none;
}
.res-card {
  margin: 15px;
  padding: 5px;
  width: 200px;
  height: 300px;
  background-color: bisque;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-logo {
  width: 100%;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.login {
  padding: 20px;
  height: 5px;
}

.filter {
  display: flex;
}
.search {
  margin: 10px;
  cursor: pointer;
}
.res-menu {
  width: 300px;
}
