/* default CSS */
/* reset css ----------------------->*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --page-max-width: 1280px;
  --input-width-lg: 400px;
  --page-wrapper-margin-top: 2rem;

  --button-width: 120px;
  --input-height: 40px; /* form input field */
  --font-size-sm: 0.85rem;
  --font-size-rg: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;

  --font-weight-light: 300;
  --font-weight-reg: 400;
  --font-weight-bold: 700;
  --color-primary: rgb(220, 56, 19);
  --color-secondary: rgb(245, 231, 225);
  --color-tertiary: rgb(7, 122, 153);
  --color-neutral: rgb(66, 71, 84);
  --color-secondary-dark: #d3d3d3;
  --box-shadow-subtle: 0 2px 2px #000;
  --border-radius-rg: 8px;
  --page-inline-padding: 12px;

  --box-shadow-sm: 0 5px 5px 2px hsla(225, 55%, 9%, 8%);
  --box-shadow-md: 0 16px 32px 0 rgba(10, 16, 34, 0.2), 0 0 0 transparent;
}

/* Removing user agent default margin */
:where(body, h1, h2, h3, h4, ul, p) {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--font-size-rg);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* consistent focus for accessibility */
*:not(main):focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-neutral);
}

input:hover,
textarea:hover {
  border-color: var(--color-tertiary);
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  border-color: black;
}

button {
  min-width: 100px;
  padding-inline: 1rem;
  padding-block: 0.15rem;
  appearance: none;
  border-radius: 4px;
  border-width: 1px;
  cursor: pointer;
  --default-hover: var(--color-secondary-dark);
}

button:hover {
  background-color: var(--btn-hover, var(--default-hover));
}
/* utility class */
.flow {
  --flow-space: 1em;
}

.flow > * + * {
  margin-top: var(--flow-space);
}

.pill {
  display: inline-block;
  padding-inline: 0.5rem;
  padding-block: 0.15rem;
  border: 1px solid var(--color-tertiary);
  border-radius: var(--border-radius-rg);
  font-size: var(--font-size-sm);
}

/* custom styles  --------------------------> */
a {
  color: inherit;
}

/* Skip link styles */
.skip-link:not(:focus),
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link {
  top: 1rem;
  left: 1rem;
  z-index: 99;
}

/* Custom styles ----------- */

.page_wrapper {
  max-width: min(90vw, var(--page-max-width));
  margin-inline: auto;
  margin-block: var(--page-wrapper-margin-top);
}

/* --- header styling --- */
header {
  box-shadow: rgba(27, 30, 36, 0.06) 0px 8px 16px,
    rgba(27, 30, 36, 0.04) 0px 0px 8px;
  position: sticky;
  top: 0px;
  background-color: var(--header-bg-color, #fff);
  z-index: 1;
}

.header-wrapper {
  display: flex;
  align-items: center;
  font-size: var(--font-size-md);
  padding-block: 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: min(90vw, var(--page-max-width));
  margin-inline: auto;
}

header a:has(img) {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  gap: 0.25rem;
  font-size: var(--font-size-lg);
}

nav ul {
  display: flex;
  gap: 16px;
}

nav li > a {
  padding: 0.5rem 1rem;
  text-decoration: none;
}

header a:hover {
  color: var(--color-primary);
}

header a:focus {
  box-shadow: none;
}

.search-container {
  display: flex;
  align-items: center;
  margin-block-start: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

/* header styling ends here */

/* form search styles start ---- */
form[role="search"] {
  display: flex;
  flex: 1;
  gap: 0.25rem;
  justify-content: flex-end;
}

input[type="text"] {
  flex: 1;
}

@media (min-width: 920px) {
  input[type="text"] {
    flex-basis: 400px;
    flex-grow: 0;
  }

  .search-container {
    gap: 1.5rem;
  }
}

/* form search styles end ---- */

/* divider */
.divider {
  height: 1px;
  background-color: var(--color-secondary-dark);
  margin-inline: auto;
  margin-block: 1rem;
}

/* Res card ---*/
.res-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.res-card-container a {
  text-decoration: none;
}

.res-card-container li {
  flex-basis: min(100%, 300px);
  flex-grow: 1;
}

.res-card {
  display: flex;
  border-radius: var(--border-radius-rg);
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: var(--box-shadow-sm);
  transition: transform 0.2s ease 0s, box-shadow 0.2s ease 0s;
  will-change: transform, box-shadow;
}

.res-card:hover {
  box-shadow: var(--box-shadow-md);
  transform: translateY(-5px) translateZ(0px);
}

.res-card-info {
  display: flex;
  flex-direction: column;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.time {
  font-size: var(--font-size-sm);
  color: grey;
}

.res-card-info h2 {
  font-size: var(--font-size-md);
}

.top-res-btn {
  margin-block: 1rem;
  margin-inline-start: auto;
}

/* Restaurant Menu */
.res-menu-wrapper {
  display: flex;
  --res-img-width: 200px;
  border-bottom: 1px solid var(--color-secondary-dark);
  padding-block-end: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.res-menu-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 3;
  flex-basis: 30ch;
}

.res-menu-img {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  flex-basis: var(--res-img-width);
  border-radius: var(--border-radius-rg);
  overflow: hidden;
  box-shadow: var(--box-shadow-sm);
}

.res-menu-img button {
  align-self: center;
  margin-block-end: 0.75rem;
  border-color: var(--color-secondary-dark);
}
